@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-200;
  }

  .scrollbar.white::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-100;
  }

  /* 수평 스크롤바 유틸리티 */
  .scrollbar-horizontality::-webkit-scrollbar {
    height: 4px;
  }

  .scrollbar-horizontality::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  .scrollbar-horizontality::-webkit-scrollbar-thumb {
    @apply rounded-full bg-slate-200;
  }
}
