.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #94a3b8;
  pointer-events: none;
  height: 0;
}

.custom-editor .ProseMirror p {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
